# Cache en tijdelijke bestanden
__pycache__/
*.log
*.tmp
*.pyc
*.ipynb
*.csv


# Omgevingsbestanden
.venv
secrets.json
.env

# Data-bestanden
*.csv
data/

# API KEYS
FRED_API_KEY = '7a6582b9cbf7722c07b0db7cad42e67a'
